body {
  margin: 0;
  padding: 0;
  min-width: 1121px;
  font-family: "Josefin Sans", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #000000;
  background-color: #eaeaea;
}

.visually-hidden:not(:focus):not(:active), input[type='checkbox'].visually-hidden, input[type='radio'].visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}

.container {
  margin: 0 auto;
  width: 1121px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
}

.page-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  margin-top: 225px;
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
  
}

.header-logo {
  margin: 0 auto;
  padding-bottom: 119px;
}

.navigation {
  box-sizing: border-box;
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 43px;
  padding-bottom: 43px;
  min-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px 1px #c0c0c0;
  text-transform: uppercase;
}

.nav-link {
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  min-width: 650px;
}

.sub-menu {
  display: none;
}

.hit-recipes {
  box-sizing: border-box;
  margin-bottom: 85px;
  padding-left: 95px;
  padding-top: 49px;
  padding-bottom: 56px;
  min-width: 1120px;
  background-color: #f8f8f8;
  background-image:url(../img/hit-bg.jpg);
  background-repeat: no-repeat;
  background-position: right 0;
  box-shadow: 0 0 10px 1px #c0c0c0;
}

.hit-recipes p {
  max-width: 369px; 
}

.recipes {
  margin-bottom: 87px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px 1px #c0c0c0; 
}

.recipe-list {
  display: flex;
  justify-content: space-between;
}

.main-footer {
  margin-top: 20px;
  padding-left: 87px;
  padding-right: 87px;
  padding-top: 72px;
  padding-bottom: 72px; 
  background-color: #2f2f2f;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-transform: uppercase;
  color: #979797;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer-navigation {
  min-width: 479px;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  min-width: 129px;
}